* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.drawer-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.drawer-overlay.active {
  display: block;
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 50;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.drawer-menu.active {
  right: 0;
}

.header-wrapper {
  /* background: linear-gradient(to right, #030303 0%, #1a1919 100%); */
  background: #030303;
  position: relative;
  padding-bottom: 80px;
  width: 100%;
  overflow: hidden;
  min-height: 600px;
}
.header-wrapper::before {
  content: "";
  position: absolute;
  width: 75%;
  top: -5%;
  right: 0%;
  height: 100%;
  background-image: url(../assets/imgs/header/bg-elips.png);
  background-size: cover;
}

.header-wrapper::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 40px;
  background: #111827;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  z-index: 2;
}

nav {
  position: relative;
  width: 100%;
  z-index: 25;
}
.section-curved-top {
  position: relative;
  padding-top: 50px;
  margin-top: -30px;
  z-index: 2;
}

.section-curved-top::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  height: 62px;
  background: white;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .header-wrapper {
    padding-bottom: 60px;
    min-height: 500px;
  }

  .header-wrapper::after {
    bottom: -20px;
    height: 30px;
  }

  .section-curved-top {
    padding-top: 40px;
    margin-top: -20px;
  }

  .section-curved-top::before {
    top: -30px;
    height: 55px;
  }
}

.icon-star {
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  mask: url("../assets/imgs/icons/star.svg") no-repeat center / contain;
  background-color: currentColor;
  content: "";
}

.faq {
  position: relative;
}
.faq::before {
  position: absolute;
  content: "";
  bottom: -20px;
  right: 0;
  width: 65%;
  height: 90%;
  background-image: url("../assets/imgs/circle.png");
  background-size: cover;
}
.active-faq {
  border: 2px solid #ff882e !important;
  box-shadow: 0px 4px 20px 0px rgba(102, 42, 178, 0.15);
}

#download {
  overflow: hidden;
}
.icon-logo {
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  mask: url("../assets/imgs/logo.svg") no-repeat center / contain;
  background-color: currentColor;
  content: "";
}
